<h1>All Words</h1>
<h3>Here are your words: </h3>
<ul>
  <% @all_words.each() do |word| %>
  <li><a href="/word/<%= word.id() %>"> <%= word.word() %> </a></li>
<% end %>

<h5>Feel free to add a new word:</h5>
  <form action="/" method="post">
    <label for="word">Add your word here:</label>
    <input id="word" name="word" type="text">
    <button type="submit">Add Word</button>
  </form>
</ul>
