<h1>Add a New Word:</h1>

<form action="/all_words" method="post">

  <label for="word">New Word:</label>
  <input id="word" name="word" type="text">

  <button type="submit">Add Word</button>
</form>
